# Flutter/Dart/Pub
.dart_tool/
.packages
build/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
*.iml

# VS Code
.vscode/

# iOS/Android
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks
ios/Pods
ios/Podfile.lock
android/.gradle
android/app/build

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral

# Linux
linux/flutter/ephemeral

# Web
web/.dart_tool/

# Misc
*.log
*.lock


# Local Netlify folder
.netlify
